#mainGrid {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 6vh;
    min-height: 90vh;
  /*   gap: 2px; */ 

}

.gridItem {
    background-color: #ff6f6f;
}

.navbar {
    background-color: rgba(22, 22, 23, .8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

#iPhoneAdHeading{
    background-color: black;
    color: white;
    font-size: 4rem;
    grid-column: span 3;
    text-align: center;
    padding: 4rem;  
}

button {
    background-color: #0071e3;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
    position: relative;
    top: -2rem;
}

