body {
    background-color: black;
}

#mainGrid {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6vh 25vh;
    min-height: 90vh;
  /*   gap: 2px; */ 

}

.gridItem {
    background-color: #ff6f6f;
}

.navbar {
    background-color: rgba(22, 22, 23, .8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    
}

#nav{
    grid-column: span 4;
}

#iPhoneAdHeading{
    color: white;
    font-size: 4rem;
    grid-column: span 6;
    text-align: center;
    padding: 4rem;  
}

button {
    background-color: #0071e3;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
    position: relative;
    top: -2rem;
}

.bigImage {
    grid-column: span 6;
}

.bigImage img {
    height: 120%;
    object-fit: cover;
    position: relative;
    top: -30%;
    z-index: -1;
}

.square {
    grid-column: span 3;
    aspect-ratio: 1;
    background-color: aliceblue;
    border: 1px solid rgb(70, 70, 70);
}